name: MLflow CI/CD

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip

          pip install mlflow pandas numpy scikit-learn yellowbrick matplotlib joblib

      - name: Run MLflow Project
        run: |
        
          mlflow run MLProject \
            --env-manager=local \
            -P data_path=MLProject/loan_clean.csv \
            -P output_dir=MLProject/artifacts

      - name: Upload artifacts to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: MLProject/artifacts

  docker-build-and-push:
    needs: build-and-train
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image with MLflow
        run: |

          mlflow build-docker MLProject -t stevenlie131105/mlflow-clustering:latest

      - name: Push Docker image to Docker Hub
        run: |
          docker push stevenlie131105/mlflow-clustering:latest
