name: MLflow CI/CD

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # PERBAIKAN: Pin scikit-learn ke versi 1.5.2 agar kompatibel dengan Yellowbrick
          pip install setuptools wheel mlflow pandas numpy "scikit-learn==1.5.2" yellowbrick matplotlib joblib

      - name: Run MLflow Project
        run: |
          # Definisikan Absolute Path untuk folder mlruns
          export MLFLOW_TRACKING_URI="file://$(pwd)/mlruns"
          
          echo "Tracking URI set to: $MLFLOW_TRACKING_URI"
          
          mlflow run MLProject \
            --env-manager=local \
            -P data_path=loan_clean.csv \
            -P output_dir=artifacts
            
      - name: Upload artifacts to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: MLProject/artifacts

  docker-build-and-push:
    needs: build-and-train
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image with MLflow
        run: |

          mlflow build-docker MLProject -t stevenlie131105/mlflow-clustering:latest

      - name: Push Docker image to Docker Hub
        run: |
          docker push stevenlie131105/mlflow-clustering:latest
